.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    
    padding-bottom: 30px;
} 
.header{
    display: flex;
    flex-direction: column ;
    align-items: center;
    gap:9px;
    width: 100%;
    margin-top: 30px; 
}

.text {
    color: #3c009d;
    font-size: 48px;
    font-weight: 700;
}

.underline{
    width: 81px;
    height: 6px;
    background: #3c009d;
    border-radius: 30px;
}
.inputs{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 55px;
    width: 50%;
} 
.input {
    display: flex;
    align-items: center;
    margin:auto;
    width: 480px;
    height:50px;
    background: #eaeaea;
    border-radius: 8px;
}
.input input{
    height:50px;
    width:400px;
    border:none;
    background: transparent;    
    outline: none;
    font-size: 19px;

}
.button-container{
    display:flex;
    gap:30px;
    margin:60px auto;
} 

.button {
    width: 180px;
    height: 50px;
    border: none;
    border-radius: 8px;
    background: #3c009d;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

